<!DOCTYPE html>
<html>
<head>
	<title>iPARKING</title>

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/icon.min.css">
	<link rel="stylesheet" type="text/css" href="home.css">
	<link rel="stylesheet" type="text/css" href="default.css">
	<link rel="stylesheet" type="text/css" href="register.css">
	<link rel="stylesheet" type="text/css" href="feedback.css">
	<link rel="stylesheet" type="text/css" href="admin.css">
    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
	
		

</head>
<body>

	
			<nav class="navbar navbar-default head" style="background-color:#021b38;">
					<div class="container-fluid">
						<div class="navbar-header">
							
							<a  style="color:rgb(226, 221, 221);" class="navbar-brand" href="/"><i id="icon1" class="car icon"></i>PESUECC-iParking</a>
						
			
			
			
						</div>
								
							<ul class="nav navbar-nav navbar-left">
								<li><a style="color:rgb(184, 175, 175);" href="/">Home</a></li>
								<li><a style="color:rgb(184, 175, 175);" href="/info">Info</a></li>
								<li><a style="color:rgb(184, 175, 175);" href="https://pesit.pes.edu/about/">About</a></li>
								<li><a style="color:rgb(184, 175, 175);" href="/feedback">Feedback</a></li>
							</ul>						
					</div>
			</nav> 
<main class="m1">
        <div class="col-lg-8 ad">
                <form action="/admin" method="POST">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Admin :</label>
                      <input type="admin" class="form-control"  id="adm" name='aid' placeholder="Enter id" required >
                    </div>
                    
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password :</label>
                      <input type="password" class="form-control" id="idusn" name='pd' placeholder="Enter passwd" required>
                    </div>
                    <button type="submit" class="button btn-primary" style="background:#021b38">Submit</button>
				</form>
				  </div>
				  
</main>

<% include partials/footer %>
