

            
          
      

        <footer id="main-footer" class="grid">
         
            <section id="section-d" class="grid">
                <div class="contact">
                    <h2 class="content-title">Contact Us</h2>
                  
                    <p>     <i id="map" class="map marker alternate icon"></i>  PES University,
                            Electronic city,
                            Bangalore – 560 100
                    </p>
                    <p>    
                            <i  class="phone square icon"></i> 
                            +91 7019158298,
                            +91 9739538111
                    </p>
                    <p>   admissions@pes.edu</p>
                </div>
            </section>
         <div class="copyright">© iParking PES University Electronic City | Powered by Nithin&Nikith</div>
        
        </footer>
    </body>
    </html>