<% include partials/header %>
<main class='n'>
    <div class='i'>
        <h2>TWO-Wheeler</h2>
        <p>
            Fees: 10 Rupees/day 
        </p>
        <h2>FOUR-Wheeler</h2>
        <p>
            Fees: 20 Rupees/day 
        </p>
    </div>
    <div class='i2'>
        <h2>3 No's!!!</h2>
        <p>
            No Smoking <br>
            No spitting <br>
            No Littering
        </p>
    </div>
</main>
<% include partials/footer %>
