<% include partials/header %>

            <main class="tf2"> 
                <div class="col-lg-12 rec" style="text-align:center">
                    <h1>
                    <p2>
                        Thank You! <br>
                        Your FeedBack is Recorded.
                    </p2>
                </h1>
                </div>
            </main>
<% include partials/footer %>
