<% include partials/header %>
<style>
    h1{
        font-family:'Times New Roman', Times, serif;
    }
</style>
<body>
<main class="main">
    <div class="col-lg-4 reg1">
        <div class="outer">
            <figure>
               <div class="slider">
                   <img src="\pes2.jpg"  >
                   <img src="\pes3.jpg"  >   
                   <img src="\pes2.jpg"  >    
                   <img src="\pes.jpg"  >      
               </div>
            </figure>
       </div>
       </div>          
       <div class="col-lg-8 reg2" style="text-align:center; padding-top:200px;">
                <h1>Thanks for Registering</h1>
          </div>
    
</main>
</body>

<% include partials/footer %>
